body {
  font: Arial;
  margin: 0;
  padding: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.navbar a {
    text-decoration: none;
    padding: 10px 15px;
}

.navbar .search-bar {
    display: flex;
    align-items: center;
  }

  .logo{
    width: 100px;
    height: 150px;
  }

  .navbar .search-bar button {
    padding: 2px 7px;
    font-size: 16px;
    border: none;
    background-color: yellow;
    color: black;
    margin-left: 5px;
    border-radius: 3px
  }

.navbar a{
  padding: 10px 20px;
}

.navbar .menu a{
  color: white;
}

.navbar .menu2{
  display: flex;
  background-color: yellow;
  color: black;
  border-radius: 2rem;
}

.navbar .menu2 a{
  padding: 5px 10px;
}
